.container {
    position: absolute;

    top: 50%;
    left: 50%;

    translate: -50% -50%;

    background: rgb(248, 225, 112);
    font-family: Montserrat;

    padding: 50px;

    border-radius: 10px;
}

.score {
    position: absolute;

    top: 50%;
    left: 50%;

    translate: -50% -50%;

    background: rgb(248, 225, 112);
    font-family: Montserrat;

    padding: 50px;
}

button {
    background: rgb(87, 87, 255);
    cursor: pointer;
    color: white;
    width: 100%;
    padding: 10px;
    border: none;
}

#question {
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 35px;
}

.score-display {
    margin-bottom: 25px;
    font-weight: bold;
    font-size: 25px;
}

#options {
    margin-bottom: 10px;
    font-size: 25px;
}

.score {
    display: none;
    border-radius: 10px;
}

.container {
    display: block;
}
